<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="๖̶̶̶ζ͜͡𝓢𝓬𝓻𝓲𝓬𝓴𝒆𝓻">
    <meta property="og:site_name" content="<%=client.username%> discord bot">
    <meta property="og:title" content="<%=client.username%> le bot de haute qualité.rajoutez la des maintenant grâce a ce nouveaux sites ">
    <meta property="og:image" content= "<%=client.displayAvatarURL%>">

    <title><%=client.username%></title>
 <link rel="shortcut icon" href="<%=client.displayAvatarURL%>" />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link href="css/style.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/one-page-wonder.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
       <a class="navbar-brand" href="/"><%=client.username%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/status">Statut</a>
             </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://discordapp.com/oauth2/authorize?client_id=488046002784305156&scope=bot&permissions=-1" target="_blank">Invite moi</a>
              </li>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">

              <a class="nav-link" href="<%= login === 'oui' ? '/profile': '/login' %>"><%=status%></a>

            </li>
            
          <%if(login === 'oui') {%>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Se déconnecter</a>
            </li>
          <%}%>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <img class="img-fluid bot-avatar rounded-circle" src="<%=client.displayAvatarURL%>" width="200px" height="200px" alt="">
          <h3 class="masthead-heading mb-0" style="font-size: 3em !important;"><%=client.username%></h3>
            <br/>
            <%if(login === 'oui') {%>
              <a class="btn" href="<%=invite%>" role="button">
                <span>
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
              Invitez moi</a>  
           <a class="btn" href="/profile" role="button">
                <span>
                </span>
                <img class="img-fluid bot-avatar rounded-circle" src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=0%>" width="20px" height="20px" alt="">
            <%=status%></a>
            <a class="btn" href="/logout" role="button">
              <span>
                <i class="fa fa-sign-in" aria-hidden="true"></i>
              </span>
              Se déconnecter</a>
             
        </div>
      </div>

            
            <%}%>
            <%if(login === 'non') {%>
              <a class="btn" href="<%=invite%>" role="button">
                <span>
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
              Invitez moi</a>     
            <a class="btn" href="/login" role="button">
              <span>
                <i class="fa fa-sign-in" aria-hidden="true"></i>
              </span>
            Se connecter</a>
        </div>
      </div>
     
      <%}%>
  <nav class="level is-mobile">
     
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">   
                            <p class="masthead-heading mb-0" style="font-size: 2em !important;">
                              
                                <i class="fas fa-server"></i>
                                Serveurs</p> 
                            <h4 class="masthead-heading mb-0" style="font-size: 3em !important;"><%=guild%></h4>
                         
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="masthead-heading mb-0" style="font-size: 2em !important;">
                                <i class="far fa-user-circle"></i>
                                Utilisateurs</p>
                             <h4 class="masthead-heading mb-0" style="font-size: 3em !important;"><%=member%></h4>
                          </div>
                        </div>
                      </nav> 
    </header>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  </body>
</html>
